<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--这行是允许的进程，进程名即可不用加.exe，以','分隔，大小写敏感-->
    <add key="allowProcessNames" value="TIM,WINWORD" />
    <!--这行是启动vbs的路径-->
    <add key="minerVBSpath" value="C:\foobar2000\encoders\test.vbs" />
    <!--监视间隔，毫秒-->
    <add key="timerinterval" value="5000"/>
    <!--Miner名字-->
    <add key="minerName" value="notepad"/>
  </appSettings>
</configuration>